input,textarea{
    outline: none;
}
/*.overlay-wrapper1{*/
    /*position:fixed;*/
    /*width:100%;*/
    /*height:100%;*/
    /*z-index:9999;*/
    /*background: rgba(255,255,255,0.7);*/
    /*top:0;*/
    /*left:0;*/
/*}*/
/*.overlay-wrapper1 .overlay{*/
    /*margin-top: 25%;*/
    /*margin-left: 50%;*/
/*}*/
/*.overlay-wrapper1 .overlay .fa{*/
    /*font-size: 22px;*/
/*}*/
.titYilong{
    font-size: 16px;
    color: #fff;
}
.compy{
    position: absolute;
    font-size: 16px;
    color: #fff;
    top: 14px;
    left: 47px;
}
.breadcrumb{
    float: left;
    left: 13px;
    margin-bottom:0px;
    padding:0px 15px 11px;
    background:none;
}
.myCursor{
    cursor:pointer;
}

.box.box-solid{
    margin-bottom:0px;
}
.nav-stacked>li>a{
    padding: 5px 15px;
}
.no-padding-right{
    padding-right:0;
}
.box-table{
    border-top:0;
}
.mytable{
    overflow-y: scroll;
}
.mysearch{
    margin-top: 7px;
    margin-bottom: 0px;
}
.mysearch .control-label{
    padding-left:0;
    text-align: right;
    margin-top: 5px;
}
.mysearch .input-group-sm{
    padding:0;
}
.mytableTop{
    width: 99%;
    margin-bottom: 9px;
}
.fa{
    cursor:pointer;
}
.fa.faDisabled{
    cursor:default;
    color:#ccc;
}
.fa.faDisabled:hover{
    cursor:default;
    color:#ccc;
}
.fa:hover{
    color:blue;
}
.mytable table th,.mytable table td{
    max-width: 250px;
    white-space:nowrap;
    text-overflow:ellipsis;
    -o-text-overflow:ellipsis;
    overflow: hidden;
}
 .mytablemin table th,.mytablemin table td{
     max-width: 115px;
     white-space:nowrap;
     text-overflow:ellipsis;
     -o-text-overflow:ellipsis;
     overflow: hidden;
 }
.dingzhitable{
    overflow-x:scroll;
}
.dingzhitable table{
    table-layout: fixed;
}
.dingzhitable table th,.dingzhitable table td{
    max-width: 115px;
    word-break: break-all;
    word-wrap:break-word;
}
.fa.myfabut{
    margin-right:2px;
}
.nav-tabs-custom{
    margin-bottom:0;
    box-shadow: none;
}
.mybox{
    border:1px solid #d2d6de;
}
.mybox table th,.mybox table td{
    max-width:200px;
}
.mybox .input-group-sm > .form-control{
    height:25px;
}
.form-horizontal .mybox .radio{
    padding-top:2px;
}
.form-horizontal .myformgroup{
    margin:0;
}
select,input[type="file"] {
    height: 25px;
    *margin-top: 4px;
    line-height: 25px
}

select {
    width: 100px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 3px;
}
.mytablemin select{
    font-size: 11px;
    font-weight: 400;
}
.myoprfa .fa,.myoprfafenqu .fa,.myoprku .fa,.zifenpianfa .fa,.zhibiaofa .fa{
    width:100%;
    height:25px;
}
.myselect{
    width:200px;
    height:30px;
    line-height:30px;
}
.myselect100{
    width:100%;
    height:30px;
    line-height:30px;
}
.sqlYulan{
    width: 100%;
    height: 340px;
    border: 1px solid #ccc;
}
.miaoshu{
    width: 100%;
    height: 140px;
    border: 1px solid #ccc;
}
.maxHeight{
    max-height: 350px;
}
.mycustomnav{
    border: 1px solid #ccc;
}
.nav-tabs-custom>.nav-tabs>li.active a{
    color:#3c8dbc;
}
.dbMoreNames .btn{

}
.quickSearchIcon{
    position: absolute;
    padding: 7px 10px;
    right: 15px;
    cursor: pointer;
}
.fenpianbox .table th{
    text-indent: 79px;
}
.fenpianbox .box-body{
    padding:0;
}
.skin-purple .treeview-menu li a.lastMenu{
    padding-left: 32px;
    color: #657D88;
}
.skin-purple .treeview-menu li a.parentMenu{
     cursor: default;
}
 .skin-purple .treeview-menu li a.parentMenu:hover{
     color:#8aa4af;
 }
.sidebar-menu .treeview-menu>li>a>.fa{
    cursor: default;
}
.skin-purple .treeview-menu li a.lastMenu:hover{
    color: #fff;
}
.operBox .box-header,.oprshowBox .box-header{
    text-align: center;
}
.operBox .table tbody tr{
    cursor: pointer;
}
.operBox .table tbody tr:hover{
    background-color: #8F69DD;
    color: #fff;
}
.operBox .table > tbody > tr.active > td{
    background-color: #8F69DD;
    color: #fff
}
.operBox .table tbody tr.active{
    background-color: #8F69DD;
    color: #fff;
}
.myuserUl li a:hover{
    background-color: #8F69DD;
    color: #fff;
}
.myuserUl li a.active{
    background-color: #8F69DD;
    color: #fff;
}
.myuserUl{
    height: 370px;
    overflow-y: scroll;
}
.myButton{
    width: 43px;
    float: right;
    padding: 1px 2px;
    margin-left: 11px;
}
.myopeDiv{
    width:50px;
}
.userDiv{
    height: 30px;
    line-height: 30px;
    width: 100%;
    border: 1px solid #d2d6de;
    border-radius: 3px;
}
#calloutInfo{
    position: fixed;
    top: 10px;
    z-index: 9999;
    left: 240px;
    width: 60%;
    display: none;
}
.table-bordered>thead>tr.searchTh{
    border-top:0;
}
.searchTh input{
    width:100%;
    border-radius: 3px;
    border:1px solid #ccc;
}
.errorMessage{
    color:#FF0000;
    display: none;
}
.mybox .input-group-sm > .form-control.jingduinput{
    width: 40%;
    float: left;
}
.selectUsers .btn-app{
    height: 30px;
    line-height: 30px;
    padding: 0;
}
.fenquOperate{
    display: none;
}
.myheight{
    min-height: 600px;
}
.mytree{
    background-color:#fff;
    overflow-x: auto;
}
.sqlTextarea{
    height:500px;
    width:100%;
    border:1px solid #ccc;
}
.descTextarea{
    height:100px;
    width:100%;
    border:1px solid #ccc;
}

.node {
    stroke-width: 1.5px;
    cursor:pointer;
}
.link {
    stroke: #0B0A0A;
}
.node text {
    pointer-events: none;
    font: 10px sans-serif;
}
svg{
}
.butDisabled{
    background-color: #ccc;
    border: 1px solid #ccc;
    cursor: default;
}
.butDisabled:visited{
    background-color: #ccc !important;
    border: 1px solid #ccc !important;
    cursor: default;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.butDisabled:focus{
    background-color: #ccc !important;
    border: 1px solid #ccc !important;
    cursor: default;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.butDisabled:hover{
    background-color: #ccc !important;
    border: 1px solid #ccc !important;
    cursor: default;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.butDisabled:active{
    background-color: #ccc !important;
    border: 1px solid #ccc !important;
    cursor: default;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.ztree li a.scriptId{
    color:#888888;
}

/*样式修改*/
.content-wrapper{
    margin-left: 182px;
}
.main-sidebar{
    width: 182px;
}
.skin-purple .main-header .logo{
    width: 182px;
    background-color: #00a2ca;
    border-right: 1px solid #ccc;
}
.skin-purple .main-header .navbar{
    background-color: #00a2ca;
}
.main-header>.navbar{
    margin-left: 182px;
}
.skin-purple .treeview-menu li a{
    color:#ffffff !important;
}
.skin-purple .treeview-menu li:hover{
    background-color: #676C67;
}
.sidebar-menu .treeview-menu>li>a{
    font-size: 13px;
}
tbody tr:nth-child(2n)
{
    background:#F7F6F6;
}
.jingdongDiv{
    display: none;
}
.isPartitionClass{
    color: #00A2CA;
}
.partitionTip{
    display: inline-block;
    margin-left: 40px;
    color: #00A2CA;
    position: relative;
}
.partitionTip i{
    display: inline-block;
    width: 16px;
    height: 16px;
    background: #00A2CA;
    border-radius: 50%;
    position: absolute;
    left: -29px;
}
.tables{
    margin: 10px 13px;
    border: 1px solid #ccc;
    min-height: 714px;
    max-height: 714px;
    overflow-y: scroll;
}
.tables .box-default{
    border:none;
    margin-bottom:0;
}
.tables .fa-minus:before{
    content:"\f0ce";
}
.tables .fa-plus:before{
    content:"\f0ce";
}
.tables .box-header{
    cursor:pointer;
}
.tables .box-header h3{
    width: 90%;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 15px;
}
.tables .box-header h3:hover{
    color:#1a2226;
    text-decoration: underline;
}
.tables .box-body {
    cursor: pointer;
    color:#00A2CA;
}
.tables .box-body div:hover{
    color:#00A2CA;
    text-decoration: underline;
}
.exportbut{
    display: inline-block;
    background-color:#00a2ca;
    height:30px;
    line-height: 30px;
    color: #FFF;
    padding: 0px 20px;
    margin-right: 20px;
    border-radius: 4px;
    margin-top: 1px;
    cursor: pointer;
}
.exportbut:hover{
    background-color: #03AED8;
    color:#fff;
}
.skin-purple .mywrapper{
    background-color:#fff;
}
.box-header .box-title{
    font-size:16px;
}
.nav > li.odsgroups{
    display: none;
}
.searchMyBut{
    display: inline-block;
    width: 100px;
    padding: 4px 20px;
    border: 1px solid #ccc;
    cursor: pointer;
    border-radius: 4px;
}
.centerTable th,.centerTable td{
    text-align: center;
}
.dingzhitable .leixing{
    width:100%;
}

/*标签管理*/
.tagParent{
    height:200px;
    overflow-y: scroll;
    width:80%;
    border: 1px solid #ccc;
    border-left: 0;
}
.tagOuter{
    padding: 6px;
    width: 48%;
    float: left;
}
.tagOuter .tagInner{
    border: 1px solid #37a9d5;
    height: 32px;
    padding: 4px;
    line-height: 24px;
    background: #fff;
    position: relative;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.tagOuter .tagInner .tagIcon{
    color: #37a9d5;
    font-size: 14px;
    margin: 0 2px;
    position: relative;
    top: 1px;
    float:left;
}
.tagOuter .tagInner .tagInput{
    width: 70%;
    height: 24px;
}
.tagOuter .tagInner .tabConent{
    margin-left: 10px;
}
.tagOuter .tagInner .tabDelete{
    position: absolute;
    height: 30px;
    width: 30px;
    right: 0;
    top: 0;
    line-height: 30px;
    text-align: center;
    border-left: 1px solid #37a9d5;
    color: #37a9d5;
    font-size: 14px;
    display:block;
    cursor: pointer;
}
.tagOuter .tagInner .tabModify{
    position: absolute;
    height: 30px;
    width: 30px;
    right: 30px;
    top: 0;
    line-height: 30px;
    text-align: center;
    border-left: 1px solid #37a9d5;
    color: #37a9d5;
    font-size: 14px;
    display:block;
    cursor: pointer;
}
.titleInput{
    width: 90%;
    height: 30px;
    position: absolute;
    top: 40%;
    margin-left: 5%;
}
.tagTitle{
    font-size: 20px;
    display: inline-block;
    height: 200px;
    line-height: 200px;
    width: 20%;
    position:relative;
}
.tagInfoBox{
    box-shadow: none;
    overflow: hidden;


}
.titleButs{
    width: 100%;
    position: absolute;
    color: #fff;
    top: 0;
    right: 0;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    text-align: right;
    padding-right: 12px;
}
.tagTitle .titleSpan{
    line-height: 20px;
    height: 40px;
    display: inline-block;
    margin-top: 76px;
}
.titleButs .fa:hover{
    color:#fff;
}
.addSecondTag{
    width: 32px;
    height: 32px;
    border: 1px solid #37a9d5;
    line-height: 32px;
    text-align: center;
    color: #37a9d5;
    border-radius: 50%;
}
.addFirstTag{
    width: 32px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -16px;
    color: #fff;
    border: 1px solid #fff;
}
.addFirstTag .fa:hover{
    color:#fff;
}
.operButs{
}
.selectTags .tagTitle{
    background-color: #fff !important;
    border: 1px solid #ccc;

}
.selectTags .tagTitle .titleSpan{
    color: #333;
}
.selectTags .tagOuter{
    cursor:pointer;
}
.selectTags .tagOuter.noselect .tagInner .tagIcon{
    color: #ccc;
}
.selectTags .tagOuter.noselect .tagInner{
    border: 1px solid #ccc;
}
.selectTags .tagOuter .tagInner .fa-check{
    position: absolute;
    height: 30px;
    width: 30px;
    right: 0;
    top: 0;
    line-height: 30px;
    text-align: center;
    border-left: 1px solid #37a9d5;
    color: #37a9d5;
    font-size: 14px;
    display: block;
    cursor: pointer;
}
.selectTags .tagOuter.noselect .tagInner .fa-check{
    display:none;
}
.selectTags .titleButs .faall{
    color: #888;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.selectTags .titleButs .faall:hover{
    color: #37a9d5;
}
/*群组管理页面*/
.tagValues{
    height: 110px;
    position: relative;
    float: left;
    line-height: 22px;
    margin: 0 25px 10px 0;
    list-style: none;
    border: 1px solid #d2d6de;
    padding: 40px 20px 10px;
    border-radius:4px;
    width:100%;
    overflow: hidden;

}
.tagValues.jielue{
    height:auto;
}

.tagValues li{
    display: list-item;
    text-align: -webkit-match-parent;
    float: left;
    height: 22px;
    line-height: 22px;
    margin: 2px 25px 10px 0;
}
.tagValues li a{
    position: relative;
    color: #888888;
    display: inline-block;
    padding: 0 29px 0 12px;
    line-height: 26px;
    height: 26px;
    white-space: nowrap;
    cursor:pointer;
    border: 1px solid #fff;
}
.tagValues li a:hover{
    color:#71B2C2;
}
.tagValues li.active a{
    border: 1px solid #B0A59F;
}
.tagValues li a i{
    position: absolute;
    display: inline-block;
    background-position: 0 0;
    font-size: 1px;
    height: 19px;
    width: 19px;
    right: 3px;
    top: 7px;
    visibility: hidden;
}
.tagValues li.active a i{
    visibility:visible;
}
.more{
    cursor: pointer;
    border:1px solid #ccc;
}
.more{
    position: absolute;
    right: 21px;
    top: 14px;
}
.more a{
    color:#aaa;
    text-indent: 20px;
    width: 57px;
    display: inline-block;
    font-size: 12PX;
}
.more a i{
    position: absolute;
    left: -12px;
    top: 5px;
}
.tagGroupTit{
    width: 200px;
    position: absolute;
    top: 7px;
    left: 27px;
}

.luojiDiv{
    width: 40%;
    border: 1px solid #ccc;
    min-height: 236px;
    height: auto;
    overflow: hidden;
}
.luojiDiv .tit{
    border-bottom: 1px solid #ccc;
    height: 28px;
    line-height: 28px;
    text-indent: 21px;
}
.luojiDiv .cont{
    padding:10px;
}
.luojiDiv .cont a{
    padding: 4px 15px 4px 15px;
    border: 1px solid #ccc;
    color: #888888;
    display:inline-block;
    position:relative;
    margin: 2px 1px;
    cursor:pointer;
}
.luojiDiv .cont a.active{
    border-color: #00A2CA;
    color: #00A2CA;
}
.luojiDiv .cont a i{
    position:absolute;
    top: 7px;
    right: 10px;
}
.luojiDiv .tagInput{
    display: block;
    margin-top: 10px;
    width: 50%;
}
.luojiLeft{
    float:left;
}
.luojiRight{
    float:right;
}
.tagLuoji .guanxi{
    width: 19%;
    float: left;
    padding: 20px 20px;
}
.opreFas .fa{
    display: block;
    width: 100%;
    margin-top: 23px;
}

/*标签映射*/
.tagTablesUl{
    padding:0;
}
.tagTablesUl li{
    display: list-item;
    text-align: -webkit-match-parent;
    list-style: none;
    padding: 2px 10px;
    color: #888;
    cursor:pointer;
    position: relative;
}
.tagTablesUl li .cont{
    width: 100px;
    display: inline-block;
    margin-left: 23px;
}
.tagTablesUl li.active{
    color: #37a9d5;
}
.tagTablesUl .fa{
    font-size: 18px;
    position: absolute;
    top: 4px;
}