<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>数据管理</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
      <link rel="stylesheet" href="../../other/bootstrap/css/bootstrap.min.css">
      <link rel="stylesheet" href="../../other/bootstrap/css/bootstrap-datetimepicker.min.css">
      <link rel="stylesheet" href="../../other/css/font-awesome.min.css">
      <link rel="stylesheet" href="../../other/css/ionicons.min.css">
      <link rel="stylesheet" href="../../other/dist/css/AdminLTE.min.css">
      <link rel="stylesheet" href="../../other/dist/css/skins/_all-skins.min.css">
      <link rel="stylesheet" href="../..//other/quickSearch/quickSearch.css">
      <link rel="stylesheet" href="../../../../static/css/index.css">
  </head>
  <body class="sidebar-mini skin-purple wysihtml5-supported">
      <div class="wrapper">
          <header class="main-header">
              <title>DMO | desert</title>
              <a  class="logo">
                  <span class="logo-lg">sentosa</span>
              </a>
              <nav class="navbar navbar-static-top" role="navigation">
                  <a class="sidebar-toggle" data-toggle="offcanvas" role="button">
                      <span class="sr-only">Toggle navigation</span>
                  </a>
                  <div class="compy">
                      艺龙大数据平台
                  </div>
                  <div class="navbar-custom-menu">
                      <ul class="nav navbar-nav">
                          <li class="dropdown user user-menu">
                              <a class="dropdown-toggle" data-toggle="dropdown">
                                  <span class="hidden-xs">Admin</span>
                              </a>
                          </li>
                      </ul>
                  </div>
              </nav>
          </header>
      </div>
      <aside class="main-sidebar">
          <section class="sidebar">
              <ul class="sidebar-menu">
                  <li class="treeview active">
                      <a>
                          <i class="fa fa-table"></i> <span>数据知识</span>
                          <i class="fa fa-angle-left pull-right"></i>
                      </a>
                      <ul class="treeview-menu">
                          <li><a href="hiveTableList.html"><i class="fa fa-cog"></i>Hive表管理</a></li>
                          <li><a href="../db/dbList.html"><i class="fa fa-cog"></i>DB配置</a></li>
                          <li><a href="../quota/quotaList.html"><i class="fa fa-cog"></i>指标管理</a></li>
                          <li><a href="../market/marketList.html"><i class="fa fa-cog"></i>集市管理</a></li>
                          <li><a href="timeVariableList.html"><i class="fa fa-cog"></i>时间变量管理</a></li>
                      </ul>
                  </li>
                  <li class="treeview active">
                      <a>
                          <i class="fa fa-table"></i> <span>数据通道</span>
                          <i class="fa fa-angle-left pull-right"></i>
                      </a>
                      <ul class="treeview-menu">
                          <li><a href="javascript:void(0);"  class="parentMenu"><i class="fa fa-sitemap"></i>导入</a></li>
                          <li><a href="../channel/importDBList.html" class="lastMenu"><i class="fa fa-cog"></i>DB导入</a></li>
                          <!--<li><a href="../channel/importHiveHiveList.html" class="lastMenu"><i class="fa fa-cog"></i>Hive-Hive导入</a></li>-->
                          <li><a href="javascript:void(0);"  class="parentMenu"><i class="fa fa-sitemap"></i>导出</a></li>
                          <li><a href="../channel/exportDBList.html" class="lastMenu"><i class="fa fa-cog"></i>DB导出</a></li>
                      </ul>
                  </li>
                  <li class="treeview active">
                      <a>
                          <i class="fa fa-table"></i> <span>调度管理</span>
                          <i class="fa fa-angle-left pull-right"></i>
                      </a>
                      <ul class="treeview-menu">
                          <li><a href="../task/taskList.html"><i class="fa fa-cog"></i>任务调度</a></li>
                          <li><a href="../task/taskHostoryList.html"><i class="fa fa-cog"></i>任务日志管理</a></li>
                      </ul>
                  </li>
                  <li class="treeview active">
                      <a>
                          <i class="fa fa-table"></i> <span>查询开发</span>
                          <i class="fa fa-angle-left pull-right"></i>
                      </a>
                      <ul class="treeview-menu">
                          <li><a href="javascript:void(0);"  class="parentMenu"><i class="fa fa-sitemap"></i>查询</a></li>
                          <li><a href="../dataManager/sqlSearch.html" class="lastMenu"><i class="fa fa-cog"></i>sql查询</a></li>
                          <li><a href="javascript:void(0);"  class="parentMenu"><i class="fa fa-sitemap"></i>开发</a></li>
                          <li><a href="../dataManager/hqlManager.html" class="lastMenu"><i class="fa fa-cog"></i>hql开发管理</a></li>
                          <li><a href="../dataManager/hqlTaskList.html" class="lastMenu"><i class="fa fa-cog"></i>hql任务列表</a></li>
                      </ul>
                  </li>
                  <li class="treeview active">
                      <a>
                          <i class="fa fa-table"></i> <span>监控</span>
                          <i class="fa fa-angle-left pull-right"></i>
                      </a>
                      <ul class="treeview-menu">
                          <li><a href="../monitor/monitor.html"><i class="fa fa-cog"></i>全局拓扑图</a></li>
                      </ul>
                  </li>
              </ul>
          </section>
      </aside>
      <div class="content-wrapper">
          <section class="content">
              <div class="row">
                  <ol class="breadcrumb">
                      <li><a>数据知识</a></li>
                      <li><a href="hiveTableList.html">Hive表管理</a></li>
                      <li class="active">新增Hive外表</li>
                  </ol>
              </div>
              <div class="row">
                  <div class="col-md-2 no-padding-right" id="leftKu">
                      <div class="box box-solid collapsed-box">
                          <div class="box-header with-border" data-pid="-1">
                              <h3 class="box-title">仓库</h3>
                              <div class="box-tools">
                                  <button class="btn btn-box-tool" data-id="-1" data-flag="false" data-widget="collapse"><i class="fa fa-plus"></i></button>
                              </div>
                          </div>
                          <div class="box-body no-padding" style="display: none;">
                              <ul class="nav nav-pills nav-stacked" data-pid="-1">
                              </ul>
                          </div>
                      </div>
                  </div>

                  <!--标签页-->
                  <div class="col-md-10">
                      <div class="box">
                        <div class="box-body">
                            <div class="nav-tabs-custom">
                                <ul class="nav nav-tabs pull-right">
                                    <li><a href="#tab_3-7" data-toggle="tab" id="yulan">预览</a></li>
                                    <!--<li><a href="#tab_3-6" data-toggle="tab">修改历史</a></li>-->
                                    <li><a href="#tab_3-5" data-toggle="tab">文件类型</a></li>
                                    <li><a href="#tab_3-4" data-toggle="tab">分隔符</a></li>
                                    <li><a href="#tab_3-3" data-toggle="tab">分区字段</a></li>
                                    <li><a href="#tab_2-2" data-toggle="tab">字段</a></li>
                                    <li class="active"><a href="#tab_1-1" data-toggle="tab">表名</a></li>
                                    <li class="pull-left header">新增Hive外表</li>
                                </ul>
                                <div class="tab-content mytable" style="min-height:500px;">
                                    <div class="tab-pane active" id="tab_1-1"><!--表名-->
                                        <form class="form-horizontal">
                                            <div class="box-body">
                                                <div class="form-group">
                                                    <label for="tabName" class="col-sm-2 control-label">英文名</label>
                                                    <div class="col-sm-3 input-group-sm">
                                                        <input type="text" class="form-control" id="tabName" placeholder="">
                                                    </div>
                                                    <div class="col-sm-2"><small class="errorMessage" id="enameError">英文名重复,请重新填写</small></div>
                                                    <div class="col-sm-5"></div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="tabDescribe" class="col-sm-2 control-label">中文名</label>
                                                    <div class="col-sm-3 input-group-sm">
                                                        <input type="text" class="form-control" id="tabDescribe" placeholder="">
                                                    </div>
                                                    <div class="col-sm-7"></div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="countPeriod" class="col-sm-2 control-label">计算周期</label>
                                                    <div class="col-sm-3 input-group-sm">
                                                        <select id="countPeriod" class="myselect100">
                                                            <option value="0">年</option>
                                                            <option value="1">月</option>
                                                            <option value="2">周</option>
                                                            <option value="3">日</option>
                                                            <option value="4">小时</option>
                                                        </select>
                                                    </div>
                                                    <div class="col-sm-7"></div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="tabRemark" class="col-sm-2 control-label">备注</label>
                                                    <div class="col-sm-6">
                                                        <textarea class="form-control" id="tabRemark" rows="6" placeholder="备注..."></textarea>
                                                    </div>
                                                    <div class="col-sm-4"></div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="tab-pane" id="tab_2-2"><!--字段-->
                                        <form class="form-horizontal">
                                            <div class="box-body">
                                                <div class="form-group">
                                                    <label class="col-sm-2 control-label">是否依赖原库</label>
                                                    <div class="col-sm-2">
                                                        <div>
                                                            <div class="radio">
                                                                <label>
                                                                    <input value="1" class="isyilai" name="isyilai" type="radio" checked> 是
                                                                </label>
                                                                <label style="margin-left:30px;">
                                                                    <input  value="2" class="isyilai" name="isyilai" type="radio"> 否
                                                                </label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group yuankuinfo">
                                                    <label for="sku" class="col-sm-2 control-label">选择库</label>
                                                    <div class="col-sm-3 input-group-sm">
                                                        <input type="text" class="form-control" id="sku" placeholder="">
                                                        <label for="sku" class="glyphicon glyphicon-search quickSearchIcon"></label>
                                                    </div>
                                                    <div class="col-sm-7"></div>
                                                </div>
                                                <div class="form-group yuankuinfo">
                                                    <label for="stable" class="col-sm-2 control-label">选择表</label>
                                                    <div class="col-sm-3 input-group-sm">
                                                        <input type="text" class="form-control" id="sTable" placeholder="">
                                                        <label for="sTable" class="glyphicon glyphicon-search quickSearchIcon"></label>
                                                    </div>
                                                    <div class="col-sm-7"></div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-sm-2 control-label">字段</label>
                                                    <div class="col-sm-8">
                                                        <div class="box mybox">
                                                            <div class="box-body dingzhitable" id="dingzhitable">
                                                                <table class="table">
                                                                    <thead>
                                                                        <tr>
                                                                            <th style="width:34px;"></th>
                                                                            <th style="width:230px;">字段名</th>
                                                                            <th>字段类型</th>
                                                                            <th>精度</th>
                                                                            <th>描述</th>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody id="hiveZiduan">

                                                                    <!--<tr>-->
                                                                        <!--<td>-->
                                                                            <!--<div class="radio">-->
                                                                                <!--<label>-->
                                                                                    <!--<input type="radio" name="optionsRadios" value="1">-->
                                                                                <!--</label>-->
                                                                            <!--</div>-->
                                                                        <!--</td>-->
                                                                        <!--<td>-->
                                                                            <!--<div class="input-group-sm">-->
                                                                                <!--<input type="text" class="form-control" placeholder="">-->
                                                                            <!--</div>-->
                                                                        <!--</td>-->
                                                                        <!--<td>-->
                                                                            <!--<select>-->
                                                                            <!--</select>-->
                                                                        <!--</td>-->
                                                                        <!--<td>-->
                                                                            <!--<div class="input-group-sm">-->
                                                                                <!--<input type="text" class="form-control jingduinput" placeholder="">-->
                                                                                <!--<input type="text" class="form-control jingduinput" placeholder="">-->
                                                                            <!--</div>-->
                                                                        <!--</td>-->
                                                                        <!--<td>-->
                                                                            <!--<div class="input-group-sm">-->
                                                                                <!--<input type="text" class="form-control" placeholder="">-->
                                                                            <!--</div>-->
                                                                        <!--</td>-->
                                                                    <!--</tr>-->
                                                                    </tbody></table>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-1 myoprfa" id="myoprfa">
                                                        <i class="fa fa-fw fa-plus-square" data-type="add"></i>
                                                        <i class="fa fa-fw fa-minus-square" data-type="del"></i>
                                                        <i class="fa fa-fw fa-hand-o-down" data-type="down"></i>
                                                        <i class="fa fa-fw fa-hand-o-up" data-type="up"></i>
                                                    </div>
                                                    <div class="col-sm-1"></div>
                                                </div>
                                                <div class="form-group locationdiv" style="display: none;">
                                                    <label for="tabName" class="col-sm-2 control-label">location</label>
                                                    <div class="col-sm-5 input-group-sm">
                                                        <input type="text" class="form-control" id="location" placeholder="填写表路径,可以为空">
                                                    </div>
                                                    <div class="col-sm-5"></div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="tab-pane" id="tab_3-3">
                                        <form class="form-horizontal">
                                            <div class="box-body">
                                                <div class="form-group">
                                                    <label  class="col-sm-2 control-label">分区字段</label>
                                                    <div class="col-sm-8">
                                                        <div class="box mybox">
                                                            <div class="box-body">
                                                                <table class="table">
                                                                    <thead>
                                                                    <tr>
                                                                        <th></th>
                                                                        <th>字段名</th>
                                                                        <th>字段类型</th>
                                                                        <th>描述</th>
                                                                    </tr>
                                                                    </thead>
                                                                    <tbody id="hiveFenquZiduan">
                                                                        <!--<tr>-->
                                                                            <!--<td>-->
                                                                                <!--<div class="input-group-sm">-->
                                                                                    <!--<input type="text" class="form-control" placeholder="">-->
                                                                                <!--</div>-->
                                                                            <!--</td>-->
                                                                            <!--<td>-->
                                                                                <!--<select>-->
                                                                                    <!--<option selected>string</option>-->
                                                                                <!--</select>-->
                                                                            <!--</td>-->
                                                                            <!--<td>-->
                                                                                <!--<div class="input-group-sm">-->
                                                                                    <!--<input type="text" class="form-control" placeholder="">-->
                                                                                <!--</div>-->
                                                                            <!--</td>-->
                                                                        <!--</tr>-->
                                                                    </tbody></table>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-1 myoprfafenqu">
                                                        <i class="fa fa-fw fa-plus-square" data-type="add"></i>
                                                        <i class="fa fa-fw fa-minus-square" data-type="del"></i>
                                                    </div>
                                                    <div class="col-sm-1"></div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="sku" class="col-sm-2 control-label"></label>
                                                    <div class="col-sm-7 input-group-sm">
                                                        <p class="text-green"></p>
                                                    </div>
                                                    <div class="col-sm-3"></div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="tab-pane" id="tab_3-4">
                                        <form class="form-horizontal">
                                            <div class="box-body">
                                                <div class="form-group">
                                                    <label class="col-sm-2 control-label">分割符</label>
                                                    <div class="col-sm-3 input-group-sm">
                                                        <select class="myselect" id="delimitedField">
                                                            <option value="\001">\001</option>
                                                            <option value=",">,</option>
                                                        </select>
                                                    </div>
                                                    <div class="col-sm-7"></div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="tab-pane" id="tab_3-5">
                                        <form class="form-horizontal">
                                            <div class="box-body">
                                                <div class="form-group">
                                                    <label  class="col-sm-2 control-label">文件类型</label>
                                                    <div class="col-sm-3 input-group-sm">
                                                        <select class="myselect" id="inputFormat">
                                                            <option value="com.hadoop.mapred.DeprecatedLzoTextInputFormat">LZO</option>
                                                            <option value="org.apache.hadoop.mapred.TextInputFormat">textfile</option>
                                                        </select>
                                                    </div>
                                                    <div class="col-sm-7"></div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <!--<div class="tab-pane" id="tab_3-6">-->
                                        <!--<form class="form-horizontal">-->
                                            <!--<div class="box-body">-->
                                                <!--<div class="form-group maxHeight">-->
                                                    <!--<label for="sdb" class="col-sm-2 control-label" style="padding-top:0;"><p class="text-yellow">修改历史</p></label>-->
                                                    <!--<div class="col-sm-8 input-group-sm">-->
                                                        <!--<p class="text-aqua">Text green to emphasize success,Text green to emphasize success</p>-->
                                                        <!--<p class="text-aqua">Text green to emphasize success,Text green to emphasize success</p>-->
                                                        <!--<p class="text-aqua">Text green to emphasize success</p>-->
                                                        <!--<p class="text-aqua">Text green to emphasize success</p>-->
                                                        <!--<p class="text-aqua">Text green to emphasize success,Text green to emphasize success</p>-->
                                                        <!--<p class="text-aqua">Text green to emphasize success</p>-->
                                                        <!--<p class="text-aqua">Text green to emphasize success,Text green to emphasize success</p>-->
                                                    <!--</div>-->
                                                    <!--<div class="col-sm-2"></div>-->
                                                <!--</div>-->
                                            <!--</div>-->
                                        <!--</form>-->
                                    <!--</div>-->
                                    <div class="tab-pane" id="tab_3-7">
                                        <form class="form-horizontal">
                                            <div class="box-body">
                                                <div class="form-group">
                                                    <label  class="col-sm-2 control-label" style="padding-top:0;">预览</label>
                                                    <div class="col-sm-8 input-group-sm">
                                                        <textarea class="sqlYulan" id="sqlYulan"></textarea>
                                                    </div>
                                                    <div class="col-sm-2"></div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                          <div class="box-footer">
                              <button type="submit" class="btn btn-info pull-right" id="saveTable">保存</button>
                          </div>
                      </div>
                  </div>
              </div>
          </section>
      </div>

      <div class="overlay-wrapper" style="display: none;">
          <div class="overlay">
              <i class="fa fa-refresh fa-spin"></i>
          </div>
      </div>

      <!--<div class="modal" id="mymodalcontent">-->
          <!--<div class="modal-dialog">-->
              <!--<div class="modal-content">-->
                  <!--<div class="modal-header">-->
                      <!--<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>-->
                      <!--<h4 class="modal-title">模态弹出窗标题</h4>-->
                  <!--</div>-->
                  <!--<div class="modal-body">-->
                      <!--<p>模态弹出窗主体内容</p>-->
                  <!--</div>-->
                  <!--<div class="modal-footer">-->
                      <!--<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>-->
                      <!--<button type="button" class="btn btn-primary">保存</button>-->
                  <!--</div>-->
              <!--</div>-->
          <!--</div>-->
      <!--</div>-->

  </body>
  <script src="../../other/require/require_jquery-2.1.4.js"></script>
  <script src="../../js/requireConfig.js"></script>
  <script src="../../js/hiveTable/hiveOutTableAdd.js"></script>
</html>
