<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>数据管理</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="http://apps.bdimg.com/libs/bootstrap/3.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://apps.bdimg.com/libs/bootstrap/3.3.0/css/bootstrap-datetimepicker.min.css">
    <link rel="stylesheet" href="//cdn.bootcss.com/font-awesome/4.6.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="/static/other/dist/css/AdminLTE.min.css">
    <link rel="stylesheet" href="/static/other/dist/css/skins/_all-skins.min.css">
    <link rel="stylesheet" href="/static/other/quickSearch/quickSearch.css">
    <link rel="stylesheet" href="/static/css/index.css">
</head>
<body class="sidebar-mini skin-purple wysihtml5-supported">
<div class="wrapper">
    <header class="main-header">
        <a  class="logo">
            <span class="logo-lg">SmartX</span>
        </a>
        <nav class="navbar navbar-static-top" role="navigation">
            <a class="sidebar-toggle" data-toggle="offcanvas" role="button">
                <span class="sr-only">Toggle navigation</span>
            </a>
            <div class="compy">
                北邮大数据平台
            </div>
            <div class="navbar-custom-menu">
                <ul class="nav navbar-nav">
                    <li class="dropdown user user-menu">
                        <a class="dropdown-toggle" data-toggle="dropdown">
                            <span class="hidden-xs">Admin</span>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
</div>
<aside class="main-sidebar">
    <section class="sidebar">
        <ul class="sidebar-menu">
            <li class="treeview active">
                <a>
                    <i class="fa fa-table"></i> <span>数据知识</span>
                    <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                    <li><a href="../hiveTable/hiveTableList.html"><i class="fa fa-cog"></i>Hive表管理</a></li>
                    <li><a href="../db/dbList.html"><i class="fa fa-cog"></i>DB配置</a></li>
                    <li><a href="../quota/quotaList.html"><i class="fa fa-cog"></i>指标管理</a></li>
                    <li><a href="../market/marketList.html"><i class="fa fa-cog"></i>集市管理</a></li>
                    <li><a href="../hiveTable/timeVariableList.html"><i class="fa fa-cog"></i>时间变量管理</a></li>
                </ul>
            </li>
            <li class="treeview active">
                <a>
                    <i class="fa fa-table"></i> <span>数据通道</span>
                    <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                    <li><a href="javascript:void(0);"  class="parentMenu"><i class="fa fa-sitemap"></i>导入</a></li>
                    <li><a href="importDBList.html" class="lastMenu"><i class="fa fa-cog"></i>DB导入</a></li>
                    <!--<li><a href="../channel/importHiveHiveList.html" class="lastMenu"><i class="fa fa-cog"></i>Hive-Hive导入</a></li>-->
                    <li><a href="javascript:void(0);"  class="parentMenu"><i class="fa fa-sitemap"></i>导出</a></li>
                    <li><a href="exportDBList.html" class="lastMenu"><i class="fa fa-cog"></i>DB导出</a></li>
                </ul>
            </li>
            <li class="treeview active">
                <a>
                    <i class="fa fa-table"></i> <span>调度管理</span>
                    <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                    <li><a href="../task/taskList.html"><i class="fa fa-cog"></i>任务调度</a></li>
                    <li><a href="../task/taskHostoryList.html"><i class="fa fa-cog"></i>任务日志管理</a></li>
                </ul>
            </li>
            <li class="treeview active">
                <a>
                    <i class="fa fa-table"></i> <span>查询开发</span>
                    <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                    <li><a href="javascript:void(0);"  class="parentMenu"><i class="fa fa-sitemap"></i>查询</a></li>
                    <li><a href="../dataManager/sqlSearch.html" class="lastMenu"><i class="fa fa-cog"></i>sql查询</a></li>
                    <li><a href="javascript:void(0);"  class="parentMenu"><i class="fa fa-sitemap"></i>开发</a></li>
                    <li><a href="../dataManager/hqlManager.html" class="lastMenu"><i class="fa fa-cog"></i>hql开发管理</a></li>
                    <li><a href="../dataManager/hqlTaskList.html" class="lastMenu"><i class="fa fa-cog"></i>hql任务列表</a></li>
                </ul>
            </li>
            <li class="treeview active">
                <a>
                    <i class="fa fa-table"></i> <span>监控</span>
                    <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                    <li><a href="../monitor/monitor.html"><i class="fa fa-cog"></i>全局拓扑图</a></li>
                </ul>
            </li>
        </ul>
    </section>
</aside>
<div class="content-wrapper">
    <section class="content">
        <div class="row">
            <ol class="breadcrumb">
                <li><a>数据通道</a></li>
                <li><a href="exportDBList.html">导出</a></li>
                <li class="active">DB导出</li>
            </ol>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="box">
                    <form class="form-horizontal">
                        <div class="box-body">
                            <div class="form-group">
                                <label class="col-sm-2 control-label">任务名</label>
                                <div class="col-sm-3 input-group-sm">
                                    <input type="text" class="form-control" id="taskName" placeholder="">
                                </div>
                                <div class="col-sm-7"></div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">负责人</label>
                                <div class="col-sm-3 input-group-sm">
                                    <input type="text" class="form-control" id="userNames" readonly >
                                </div>
                                <div class="col-sm-1" style="line-height:30px;padding-left:0;">
                                    <i class="fa fa-fw fa-plus" id="addUserBut"></i>
                                </div>
                                <div class="col-sm-6"></div>
                            </div>
                            <div class="form-group">
                                <label  class="col-sm-2 control-label">Hive库</label>
                                <div class="col-sm-3 input-group-sm">
                                    <input type="text" class="form-control" id="hiveKu"  placeholder="">
                                    <span class="glyphicon glyphicon-search quickSearchIcon"></span>
                                </div>
                                <div class="col-sm-7"></div>
                            </div>
                            <div class="form-group">
                                <label  class="col-sm-2 control-label">Hive表</label>
                                <div class="col-sm-3 input-group-sm">
                                    <input type="text" class="form-control" id="hivebiao" placeholder="">
                                    <span class="glyphicon glyphicon-search quickSearchIcon"></span>
                                </div>
                                <div class="col-sm-7"></div>
                            </div>
                            <div class="form-group">
                                <label  class="col-sm-2 control-label">DB简称</label>
                                <div class="col-sm-3 input-group-sm">
                                    <input type="text" class="form-control" id="mubiaoku"  placeholder="">
                                    <span class="glyphicon glyphicon-search quickSearchIcon"></span>
                                </div>
                                <div class="col-sm-7"></div>
                            </div>
                            <div class="form-group">
                                <label  class="col-sm-2 control-label">目标表</label>
                                <div class="col-sm-3 input-group-sm">
                                    <input type="text" class="form-control" id="mubiaobiao" placeholder="">
                                    <span class="glyphicon glyphicon-search quickSearchIcon"></span>
                                </div>
                                <div class="col-sm-7"></div>
                            </div>
                            <div class="form-group">
                                <label  class="col-sm-2 control-label"></label>
                                <div class="col-sm-3 input-group-sm">
                                    <div class="box mybox operBox">
                                        <div class="box-header">
                                            <h3 class="box-title">目标表</h3>
                                        </div><!-- /.box-header -->
                                        <div class="box-body no-padding dingzhitable">
                                            <table class="table table-condensed">
                                                <thead>
                                                <tr>
                                                    <th>字段名</th>
                                                    <th>字段类型</th>
                                                </tr>
                                                </thead>
                                                <tbody id="yuanElm">
                                                </tbody></table>
                                        </div><!-- /.box-body -->
                                    </div>
                                    <div>
                                        <a class="btn  btn-default myButton" id="yuanElmAll">全选</a>
                                        <a class="btn  btn-default myButton" id="toRight">右移</a>
                                    </div>
                                </div>
                                <div class="col-sm-3 input-group-sm">
                                    <div class="box mybox operBox">
                                        <div class="box-header">
                                            <h3 class="box-title">已选字段</h3>
                                        </div><!-- /.box-header -->
                                        <div class="box-body no-padding dingzhitable">
                                            <table class="table table-condensed">
                                                <thead>
                                                <tr>
                                                    <th>字段名</th>
                                                    <th>字段类型</th>
                                                </tr>
                                                </thead>
                                                <tbody id="selectedElm">
                                                </tbody></table>
                                        </div><!-- /.box-body -->
                                    </div>
                                    <div>
                                        <a class="btn  btn-default myButton" id="selectedElmAll">全选</a>
                                        <a class="btn  btn-default myButton" id="selectedElmDown">下移</a>
                                        <a class="btn  btn-default myButton" id="selectedElmUp">上移</a>
                                        <a class="btn  btn-default myButton" id="toLeft">左移</a>
                                    </div>
                                </div>
                                <div class="col-sm-3 input-group-sm">
                                    <div class="box mybox oprshowBox">
                                        <div class="box-header">
                                            <h3 class="box-title">Hive表</h3>
                                        </div><!-- /.box-header -->
                                        <div class="box-body no-padding dingzhitable">
                                            <table class="table table-condensed">
                                                <thead>
                                                <tr>
                                                    <th>字段名</th>
                                                    <th>字段类型</th>
                                                </tr>
                                                </thead>
                                                <tbody id="hiveElm">

                                                </tbody></table>
                                        </div><!-- /.box-body -->
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label  class="col-sm-2 control-label" style="padding-top:0;">Hive表分区表达式</label>
                                <div class="col-sm-5 input-group-sm">
                                    <textarea class="miaoshu" id="hivefentubiaodashi" placeholder="(只能填写partition_dt=${},不能默认是全部导出)"></textarea>
                                </div>
                                <div class="col-sm-5"></div>
                            </div>
                            <div class="form-group">
                                <label  class="col-sm-2 control-label" style="padding-top:0;">delete目标表的where条件</label>
                                <div class="col-sm-5 input-group-sm">
                                    <textarea class="miaoshu" id="where" placeholder="(支持时间表达式,不填则不删表数据)"></textarea>
                                </div>
                                <div class="col-sm-5"></div>
                            </div>
                            <div class="form-group">
                                <label  class="col-sm-2 control-label" style="padding-top:0;">描述</label>
                                <div class="col-sm-5 input-group-sm">
                                    <textarea class="miaoshu" id="desc"></textarea>
                                </div>
                                <div class="col-sm-5"></div>
                            </div>
                        </div><!-- /.box-body -->
                        <div class="box-footer">
                            <a id="saveInfo" class="btn btn-info pull-right">保存</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</div>

<div class="modal" id="userModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title">请选择用户</h4>
            </div>
            <div class="modal-body">
                <div class="box box-solid">
                    <div class="box-header with-border">
                        <div class="form-group">
                            <label  class="col-sm-2 control-label">快速查询</label>
                            <div class="col-sm-6 input-group-sm">
                                <input type="text" class="form-control" id="quickSearchName" placeholder="">
                            </div>
                            <div class="col-sm-4"></div>
                        </div>

                    </div>
                    <div class="box-body no-padding selectUsers">
                        <!--<a class="btn btn-app" data-id="1" data-loginName="guoyan">-->
                        <!--<span class="badge bg-yellow"><i class="fa fa-fw fa-times"></i></span>-->
                        <!--Notifications-->
                        <!--</a>-->
                    </div>
                    <div class="box-body no-padding" style="display: block;">
                        <ul class="nav nav-pills nav-stacked myuserUl">
                            <!--<li><a href="javascript:void(0);">郭岩  guoya@elong.com</a></li>-->
                        </ul>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary" id="addFuzeren">确定</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>

</body>
<script src="/static/other/require/require_jquery-2.1.4.js"></script>
<script src="/static/js/requireConfig.js"></script>
<script src="/static/js/channel/exportDB.js"></script>
</html>
