<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>数据管理</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
      <link rel="stylesheet" href="http://apps.bdimg.com/libs/bootstrap/3.3.0/css/bootstrap.min.css">
      <link rel="stylesheet" href="http://apps.bdimg.com/libs/bootstrap/3.3.0/css/bootstrap-datetimepicker.min.css">
      <link rel="stylesheet" href="//cdn.bootcss.com/font-awesome/4.6.3/css/font-awesome.min.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
      <link rel="stylesheet" href="/static/other/dist/css/AdminLTE.min.css">
      <link rel="stylesheet" href="/static/other/dist/css/skins/_all-skins.min.css">
      <link rel="stylesheet" href="/static/other/plugins/ztree/metro.css">
      <link rel="stylesheet" href="/static/other/plugins/ztree/zTreeStyle.css">
      <link rel="stylesheet" href="/static/other/quickSearch/quickSearch.css">
      <link rel="stylesheet" href="/static/css/index.css">
  </head>
  <body class="sidebar-mini skin-purple wysihtml5-supported">
      <div class="wrapper">
          <header class="main-header">
              <a  class="logo">
                  <span class="logo-lg">SmartX</span>
              </a>
              <nav class="navbar navbar-static-top" role="navigation">
                  <a class="sidebar-toggle" data-toggle="offcanvas" role="button">
                      <span class="sr-only">Toggle navigation</span>
                  </a>
                  <div class="compy">
                      北邮大数据平台
                  </div>
                  <div class="navbar-custom-menu">
                      <ul class="nav navbar-nav">
                          <li class="dropdown user user-menu">
                              <a class="dropdown-toggle" data-toggle="dropdown">
                                  <span class="hidden-xs">Admin</span>
                              </a>
                          </li>
                      </ul>
                  </div>
              </nav>
          </header>
      </div>
<aside class="main-sidebar">
    <section class="sidebar">
        <ul class="sidebar-menu">
            <li class="treeview active">
                <a>
                    <i class="fa fa-table"></i> <span>数据知识</span>
                    <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                    <li><a href="#"><i class="fa fa-cog"></i>Hive表管理</a></li>
                    <li><a href="#"><i class="fa fa-cog"></i>指标管理</a></li>
                    <li><a href="#"><i class="fa fa-cog"></i>集市管理</a></li>
                    <li><a href="#"><i class="fa fa-cog"></i>时间变量管理</a></li>
                </ul>
            </li>
            <li class="treeview active">
                <a>
                    <i class="fa fa-table"></i> <span>数据通道</span>
                    <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                    <li><a href="javascript:void(0);"  class="parentMenu"><i class="fa fa-sitemap"></i>导入</a></li>
                    <li><a href="" class="lastMenu"><i class="fa fa-cog"></i>DB导入</a></li>
                    <!--<li><a href="../channel/importHiveHiveList.html" class="lastMenu"><i class="fa fa-cog"></i>Hive-Hive导入</a></li>-->
                    <li><a href="javascript:void(0);"  class="parentMenu"><i class="fa fa-sitemap"></i>导出</a></li>
                    <li><a href="#" class="lastMenu"><i class="fa fa-cog"></i>DB导出</a></li>
                </ul>
            </li>
            <li class="treeview active">
                <a>
                    <i class="fa fa-table"></i> <span>调度管理</span>
                    <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                    <li><a href="#"><i class="fa fa-cog"></i>任务调度</a></li>
                    <li><a href="#"><i class="fa fa-cog"></i>任务日志管理</a></li>
                </ul>
            </li>
            <li class="treeview active">
                <a>
                    <i class="fa fa-table"></i> <span>查询开发</span>
                    <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                    <li><a href="javascript:void(0);"  class="parentMenu"><i class="fa fa-sitemap"></i>查询</a></li>
                    <li><a href="/dataManager/sqlsearch" class="lastMenu"><i class="fa fa-cog"></i>sql查询</a></li>
                    <li><a href="javascript:void(0);"  class="parentMenu"><i class="fa fa-sitemap"></i>开发</a></li>
                    <li><a href="/dataManager/hqlmanager" class="lastMenu"><i class="fa fa-cog"></i>hql开发管理</a></li>
                    <li><a href="/dataManager/hqltasklist" class="lastMenu"><i class="fa fa-cog"></i>hql任务列表</a></li>
                </ul>
            </li>
            <li class="treeview active">
                <a>
                    <i class="fa fa-table"></i> <span>监控</span>
                    <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                    <li><a href="#"><i class="fa fa-cog"></i>全局拓扑图</a></li>
                </ul>
            </li>
            <li class="treeview active">
                      <a>
                          <i class="fa fa-table"></i> <span>用户标签</span>
                          <i class="fa fa-angle-left pull-right"></i>
                      </a>
                      <ul class="treeview-menu">
                          <li><a href="/usertag/taglist"><i class="fa fa-cog"></i>标签管理</a></li>
                          <li><a href="/usertag/ruleList"><i class="fa fa-cog"></i>用户群组管理</a></li>
                      </ul>
            </li>
        </ul>
    </section>
</aside>
      <div class="content-wrapper">
          <section class="content">
              <div class="row">
                  <ol class="breadcrumb">
                      <li><a>数据查询</a></li>
                      <li class="active">sql查询</li>
                  </ol>
              </div>
              <div class="row">
                  <div class="col-md-12">
                      <div class="col-md-2 no-padding-right" id="leftKu">
                          <div class="box box-solid" style="min-height: 593px;">
                              <div class="box-header with-border">
                              </div>
                              <div class="box-body no-padding" style="display: block;">
                                  <form role="form" class="form-horizontal">
                                      <div class="form-group">
                                          <div class="col-sm-1"></div>
                                          <div class="col-sm-10 input-group-sm" style="padding-left:0;">
                                              <select class="myselect100" id="cangku">
                                                  <option value="-100">仓库</option>
                                              </select>
                                          </div>
                                          <div class="col-sm-1"></div>
                                      </div>
                                      <div class="form-group">
                                          <div class="col-sm-1"></div>
                                          <div class="col-sm-10 input-group-sm" style="padding-left:0;">
                                              <select class="myselect100" id="kulist">

                                              </select>
                                          </div>
                                          <div class="col-sm-1"></div>
                                      </div>
                                      <div class="form-group">
                                          <div class="col-sm-1"></div>
                                          <div class="col-sm-10 input-group-sm" style="padding-left:0;">
                                              <input type="text" class="form-control" id="tableNameQuick" placeholder="快速查询表...">
                                              <span class="glyphicon glyphicon-search quickSearchIcon"></span>
                                          </div>
                                          <div class="col-sm-1"></div>
                                      </div>
                                  </form>
                              </div>
                              <div class="tables" id="tables">
                                  <!--<div class="box box-default collapsed-box">-->
                                      <!--<div class="box-header with-border">-->
                                          <!--<h3 class="box-title">Expandable</h3>-->
                                          <!--<div class="box-tools pull-right">-->
                                              <!--<button class="btn btn-box-tool" data-widget="collapse"><i class="fa plus fa-plus"></i></button>-->
                                          <!--</div>-->
                                      <!--</div>-->
                                      <!--<div class="box-body" style="display: none;">-->
                                          <!--<div><i class="fa fa-fw  fa-columns"></i>The body of </div>-->
                                          <!--<div><i class="fa fa-fw  fa-columns"></i>The body of the boxaasdadadsasd</div>-->
                                          <!--<div><i class="fa fa-fw  fa-columns"></i>The body of</div>-->
                                      <!--</div>-->
                                  <!--</div>-->
                              </div>
                          </div>
                      </div><!-- /.col -->
                      <div class="col-md-10">
                          <div class="box myheight">
                              <div class="box-body">
                                  <div class="nav-tabs-custom">
                                      <div class="form-group">
                                          <div class="col-sm-12 input-group-sm">
                                              <textarea class="sqlTextarea" style="height:300px;" placeholder="sql编辑框 eq: select * from o_adv_info limit 100"  id="sql"></textarea>
                                          </div>
                                      </div>
                                  </div>

                              </div>
                              <div class="box-footer" style="margin: 0pc 15px;">
                                  <button type="submit" class="btn btn-info pull-right " id="startSql">执行</button>
                                  <button type="submit" class="btn btn-info pull-right " id="stopSql" style="margin-right:30px;display:none;">中止</button>
                              </div>
                              <div class="box-body">
                                  <div class="nav-tabs-custom" style="margin: 0pc 15px;">
                                      <ul class="nav nav-tabs pull-left" style="float:none !important;">
                                          <li class="active"><a href="#tab_1" data-toggle="tab">日志</a></li>
                                          <li><a href="#tab_2" data-toggle="tab" id="yulan">结果</a></li>
                                      </ul>
                                      <div class="tab-content"  style="border:1px solid #ccc;">
                                          <div class="tab-pane active mytable" style="height:420px;" id="tab_1">
                                              <form class="form-horizontal">
                                                  <div class="box-body" id="logs">

                                                  </div>
                                              </form>
                                          </div>
                                          <div class="tab-pane" id="tab_2">
                                              <div class="box-body mytable" style="height:420px;">
                                                <table id="tableMessage" class="table table-bordered">
                                                </table>
                                              </div>
                                              <div class="box-footer clearfix">
                                                  <ul class="pagination pagination-sm no-margin pull-right">
                                                      <li><a href="javascript:void(0);" id="prevPage">上一页</a></li>
                                                      <li><a href="javascript:void(0);" id="nextPage">下一页</a></li>
                                                  </ul>
                                                  <a class="exportbut pull-right" id="exportbut">导出</a>

                                                  当前页数：<small id="currentPageNum">0</small>
                                                  总页数：<small id="totalPageNum">0</small>
                                                  总数：<small id="totalNum">0</small>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div><!-- /.col -->
              </div>
          </section>
      </div>


      <div class="modal" id="sqlMadel">
          <div class="modal-dialog">
              <div class="modal-content">
                  <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                      <h4 class="modal-title">时间参数</h4>
                  </div>
                  <div class="modal-body">
                      <div class="box-body">
                          <form role="form" class="form-horizontal">
                              <div class="form-group">
                                  <label  class="col-sm-2 control-label">时间参数</label>
                                  <div class="col-sm-6 input-group-sm">
                                      <input type="text" class="form-control" id="times" placeholder="">
                                  </div>
                                  <div class="col-sm-4"></div>
                              </div>
                          </form>
                      </div>
                  </div>
                  <div class="modal-footer">
                      <button type="button" class="btn btn-default pull-left" id="tiaoguo" data-dismiss="modal">跳过</button>
                      <button type="button" class="btn btn-primary" id="sureTimes">确定</button>
                  </div>
              </div><!-- /.modal-content -->
          </div><!-- /.modal-dialog -->
      </div>
  </body>
  <script src="/static/other/require/require_jquery-2.1.4.js"></script>
  <script src="/static/js/requireConfig.js"></script>
{#  <script src="/static/js/dataManager/sqlSearch.js"></script>#}
</html>
